@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-primary: #009689;
}

a {
    text-decoration: none;
}

body {
    font-family: "DM Sans", sans-serif;
}

.nav-link {
    position: relative;
    padding-bottom: 2px;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: #009689;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.faq {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
}

.faq summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq summary::-webkit-details-marker {
    display: none;
}

.faq summary::after {
    content: "🢗";
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.faq[open] summary::after {
    transform: rotate(180deg);
}

.step-number {
    background-color: #e2e8f0;
}
.active {
    background-color: #2dd4bf;
}
#loginPanel,
#registerPanel {
    transition: all 0.7s ease-in-out;
}

#registerPanel {
    opacity: 0;
    transform: translateX(50px);
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.swal-success {
    width: auto;
    background: rgba(54, 236, 121, 0.4) !important;
    color: #002913  !important;
    border: 2px solid rgb(54, 236, 121) !important;
    border-radius: 16px !important;
    box-shadow: 0 10px 25px rgba(16, 0, 0, 0.15) !important;
    backdrop-filter: blur(0.8px);
}
.swal-success .swal2-timer-progress-bar {
    background: #22c55e;
}
.swal-error {
    width: auto;
    background: rgba(235, 48, 48, 0.2) !important;
    color: #340000 !important;
    border: 2px solid rgb(236, 54, 54) !important;
    border-radius: 16px !important;
    box-shadow: 0 10px 25px rgba(16, 0, 0, 0.2) !important;
    backdrop-filter: blur(0.8px);
}
.swal-error .swal2-timer-progress-bar {
    background: #c52222;
}

